@import url('https://fonts.googleapis.com/css?family=Belgrano&display=swap');


* {
  font-family: 'Belgrano', serif;
  font-size: 20px;
}

body {
  background-color: rgb(26, 26, 121);
}

.main {
  border: 1px solid aliceblue;
  box-shadow: 5px 5px 5px black;
}

.title {
  text-align: center;
  color: aliceblue;
  padding-top: 10px;
}

hr {
  width: 75%;
}

.scoreboard {
  color: white;
}

